.workPage__info__text{
    padding-top: 5%;
    height: 150px;
}

.workPage__info__text__about{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

.workPage__info__about{
    justify-content: center;
    align-content: space-between;
    display: flex;
}

.workPage__info__text__picture{
    width: 26%; 
    /* height:  40%;  */
    margin-bottom: 20%;
}

.workPage__info__about__us{
    margin-left: 15px;
    color: #0671d3;
}